body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
}
#u241 {
  position:absolute;
  left:2px;
  top:56px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u242 {
  position:absolute;
  left:300px;
  top:64px;
  width:145px;
  height:46px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u245 {
  position:absolute;
  left:670px;
  top:84px;
  width:10px;
  height:10px;
}
#u246 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u247 {
  position:absolute;
  left:690px;
  top:84px;
  width:10px;
  height:10px;
}
#u248 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u249 {
  position:absolute;
  left:710px;
  top:84px;
  width:10px;
  height:10px;
}
#u250 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:45px;
}
#u251 {
  position:absolute;
  left:19px;
  top:63px;
  width:31px;
  height:45px;
}
#u252 {
  position:absolute;
  left:2px;
  top:14px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u253 {
  position:absolute;
  left:59px;
  top:65px;
  width:65px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1560px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1560px;
}
#u256 {
  position:absolute;
  left:2px;
  top:772px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
}
#u258 {
  position:absolute;
  left:2px;
  top:56px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u259 {
  position:absolute;
  left:300px;
  top:64px;
  width:145px;
  height:46px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u262 {
  position:absolute;
  left:670px;
  top:84px;
  width:10px;
  height:10px;
}
#u263 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u264 {
  position:absolute;
  left:690px;
  top:84px;
  width:10px;
  height:10px;
}
#u265 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u266 {
  position:absolute;
  left:710px;
  top:84px;
  width:10px;
  height:10px;
}
#u267 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:45px;
}
#u268 {
  position:absolute;
  left:19px;
  top:63px;
  width:31px;
  height:45px;
}
#u269 {
  position:absolute;
  left:2px;
  top:14px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u270 {
  position:absolute;
  left:59px;
  top:65px;
  width:65px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u272 {
  position:absolute;
  left:0px;
  top:128px;
  width:750px;
  height:100px;
}
#u273 {
  position:absolute;
  left:2px;
  top:42px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:34px;
}
#u274 {
  position:absolute;
  left:32px;
  top:161px;
  width:18px;
  height:34px;
  color:#000000;
}
#u275 {
  position:absolute;
  left:2px;
  top:9px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#009900;
  text-align:left;
}
#u276 {
  position:absolute;
  left:59px;
  top:244px;
  width:145px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#009900;
  text-align:left;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u278 {
  position:absolute;
  left:0px;
  top:308px;
  width:750px;
  height:200px;
}
#u279 {
  position:absolute;
  left:2px;
  top:92px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:152px;
}
#u280 {
  position:absolute;
  left:32px;
  top:332px;
  width:211px;
  height:152px;
}
#u281 {
  position:absolute;
  left:2px;
  top:68px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u282 {
  position:absolute;
  left:287px;
  top:348px;
  width:417px;
  height:41px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#999999;
}
#u284 {
  position:absolute;
  left:287px;
  top:399px;
  width:229px;
  height:31px;
  font-size:24px;
  color:#999999;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 176, 52, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#3CB034;
}
#u286 {
  position:absolute;
  left:287px;
  top:440px;
  width:229px;
  height:44px;
  font-size:28px;
  color:#3CB034;
}
#u287 {
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u288 {
  position:absolute;
  left:300px;
  top:244px;
  width:145px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u290 {
  position:absolute;
  left:559px;
  top:244px;
  width:145px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u292 {
  position:absolute;
  left:0px;
  top:308px;
  width:750px;
  height:1px;
}
#u293 {
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u294 {
  position:absolute;
  left:303px;
  top:155px;
  width:145px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:4px;
}
#u296 {
  position:absolute;
  left:0px;
  top:307px;
  width:264px;
  height:4px;
}
#u297 {
  position:absolute;
  left:2px;
  top:-6px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u298 {
  position:absolute;
  left:685px;
  top:161px;
  width:35px;
  height:35px;
}
#u299 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
