body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:799px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:799px;
}
#u33 {
  position:absolute;
  left:2px;
  top:392px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:243px;
  width:193px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:367px;
}
#u35 {
  position:absolute;
  left:0px;
  top:432px;
  width:140px;
  height:367px;
}
#u36 {
  position:absolute;
  left:2px;
  top:176px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:487px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:0px;
  top:517px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:0px;
  top:548px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:0px;
  top:581px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:0px;
  top:646px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:0px;
  top:679px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
