body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:862px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:862px;
}
#u98 {
  position:absolute;
  left:2px;
  top:423px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:320px;
  top:396px;
  width:200px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:60px;
  background:inherit;
  background-color:rgba(53, 62, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:22px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:275px;
  width:193px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:367px;
}
#u103 {
  position:absolute;
  left:0px;
  top:464px;
  width:140px;
  height:367px;
}
#u104 {
  position:absolute;
  left:2px;
  top:176px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:519px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  position:absolute;
  left:0px;
  top:549px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  position:absolute;
  left:0px;
  top:580px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u108 {
  position:absolute;
  left:0px;
  top:613px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  position:absolute;
  left:0px;
  top:678px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110 {
  position:absolute;
  left:0px;
  top:711px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
