body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u21 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:823px;
  top:631px;
  width:162px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
