body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:862px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:862px;
}
#u4 {
  position:absolute;
  left:2px;
  top:423px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:242px;
  width:193px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1244px;
  top:81px;
  width:109px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:0px;
  top:420px;
  width:193px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:0px;
  top:700px;
  width:193px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:1123px;
  top:81px;
  width:103px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:0px;
  top:472px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:0px;
  top:505px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:0px;
  top:566px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:0px;
  top:598px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:0px;
  top:631px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:0px;
  top:662px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
