body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:862px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:862px;
}
#u69 {
  position:absolute;
  left:2px;
  top:423px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:275px;
  width:193px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:721px;
  top:788px;
  width:174px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:60px;
  background:inherit;
  background-color:rgba(53, 62, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:60px;
}
#u73 {
  position:absolute;
  left:2px;
  top:22px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:367px;
}
#u74 {
  position:absolute;
  left:0px;
  top:464px;
  width:140px;
  height:367px;
}
#u75 {
  position:absolute;
  left:2px;
  top:176px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:519px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77 {
  position:absolute;
  left:0px;
  top:549px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:0px;
  top:580px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u79 {
  position:absolute;
  left:0px;
  top:613px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  position:absolute;
  left:0px;
  top:678px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  position:absolute;
  left:0px;
  top:711px;
  width:193px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
