@charset "UTF-8";
.sizing {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.cu {
  cursor: pointer;
}
.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clear {
  clear: both;
  content: "";
  display: table;
  zoom: 1;
}
.before-cle:after {
  clear: both;
  content: "";
  display: table;
  zoom: 1;
}
.small-tle {
  line-height: 48px;
  font-size: 14px;
  color: #000000;
}
.mt {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.ml70 {
  margin-left: 70px;
}
.stars:after {
  content: "*";
  margin-left: 10px;
  vertical-align: sub;
}
.role-p-info {
  width: 70%;
  line-height: 28px;
  display: inline-block;
}
.mb-title {
  border-bottom: 1px solid #e4e4e4;
  padding: 8px 0;
  font-size: 16px;
  color: #009900;
}
.addinformation {
  padding-left: 15px;
}
.addinformation .stars > label {
  font-size: 13px;
  color: #666666;
  font-weight: 100;
  margin-right: 20px;
  width: 13%;
  min-width: 55px;
}
.addinformation .stars > input[type="text"] {
  height: 28px;
  width: 70%;
  min-width: 180px;
}
.addinformation .stars > input[type="date"] {
  height: 28px;
  width: 70%;
  min-width: 180px;
}
.addinformation .stars .model-box {
  display: inline-block;
  width: 70%;
}
.addinformation .stars .model {
  width: 50%;
  min-width: 135px;
  height: 28px;
  padding: 0;
}
.addinformation .stars > .xz {
  height: 28px;
  width: 70%;
  min-width: 180px;
  padding: 0 5px;
}
.addinformation .stars .big-label {
  width: 18%;
  min-width: 88px;
}
.addinformation .newadd > label {
  font-size: 13px;
  color: #666666;
  font-weight: 100;
  margin-right: 20px;
  width: 13%;
  min-width: 55px;
}
.addinformation .newadd > input[type="text"] {
  height: 28px;
  width: 70%;
  min-width: 180px;
}
.addinformation .newadd > input[type="date"] {
  height: 28px;
  width: 70%;
  min-width: 180px;
}
.addinformation .newadd > select {
  height: 28px;
  width: 70%;
  min-width: 180px;
  padding: 0 5px;
}
.addinformation .newadd .big-label {
  width: 18%;
  min-width: 88px;
}
.check .col-md-1 {
  font-size: 13px;
  color: #666666;
}
.check .col-md-1 .higt {
  height: 32px;
}
.check .sundry label {
  font-size: 13px;
  color: #666666;
  font-weight: 100;
  vertical-align: text-top;
}
.check .sundry label > input {
  margin-right: 10px;
}
.check .sundry .mr {
  margin-right: 40px;
}
.check .sundry .form-group input[type="text"] {
  height: 28px;
  width: 50%;
}
.btn-box {
  width: auto;
}
.btn-box .btn-w {
  width: 120px;
  margin-right: 20px;
}
.btn-box .btn-c-o {
  background-color: #30a1ec;
  color: #fff;
}
.btn-box .btn-c-o:hover {
  background-color: #1283ce;
}
.btn-box .btn-c-t {
  border: 1px solid #30A1EC;
  color: #30A1EC;
  background-color: #fff;
}
.btn-box .btn-c-t:hover {
  background-color: #e1e1e1;
}
/*新增管理员页面样式*/
.addAdmin {
  margin-top: 100px;
}
.addAdmin .form-inline > label {
  font-size: 13px;
  color: #666666;
  font-weight: 100;
  margin-right: 10px;
  width: 13%;
  min-width: 55px;
}
.addAdmin .form-inline > input[type="text"] {
  height: 28px;
  width: 50%;
  min-width: 180px;
}
.addAdmin .form-inline > select {
  height: 28px;
  width: 50%;
  min-width: 180px;
  padding: 0 10px;
}
/*修改密码*/
.modifyPswd {
  margin-top: 100px;
}
.modifyPswd .form-inline > label {
  font-size: 13px;
  color: #666666;
  font-weight: 100;
  margin-right: 10px;
  min-width: 88px;
}
.modifyPswd .form-inline > input[type="text"] {
  width: 50%;
  min-width: 180px;
}
.modifyPswd .btn-w {
  max-width: 243px;
  margin-left: 102px;
  background-color: #30a1ec;
  color: #fff;
}
.modifyPswd .btn-w:hover {
  background-color: #1283ce;
}
/*个人信息*/
.persInfo .col-md-1 > div,
.persInfo .col-md-2 > div {
  line-height: 40px;
  font-size: 13px;
  color: #666666;
}
.persInfo .col-md-1 > .btn-w,
.persInfo .col-md-2 > .btn-w {
  background-color: #30a1ec;
  color: #fff;
}
.persInfo .col-md-1 > .btn-w:hover,
.persInfo .col-md-2 > .btn-w:hover {
  background-color: #1283ce;
}
.persInfo .col-md-1 > .btn-c-t,
.persInfo .col-md-2 > .btn-c-t {
  border: 1px solid #30A1EC;
  color: #30A1EC;
  background-color: #fff;
  width: 70%;
}
.persInfo .col-md-1 > .btn-c-t:hover,
.persInfo .col-md-2 > .btn-c-t:hover {
  background-color: #30A1EC;
  color: #fff;
}
/*修改个人信息*/
.eidtInfo {
  margin-top: 100px;
}
.eidtInfo .form-group .icon-tle {
  line-height: 40px;
  font-size: 13px;
  color: #666666;
  width: 100px;
  float: left;
  min-height: 1px;
}
.eidtInfo .form-group .icon-tle span {
  display: inline-block;
  float: left;
}
.eidtInfo .form-group .icon-tle .info-name {
  width: 13px;
  height: 18px;
  background-position: 0 0;
  margin: 10px 15px 0 0;
}
.eidtInfo .form-group .icon-tle .info-phone {
  width: 13px;
  height: 18px;
  background-position: -14px 0;
  margin: 10px 15px 0 0;
}
.eidtInfo .form-group .icon-tle .info-email {
  width: 19px;
  height: 15px;
  background-position: -28px 0;
  margin: 11px 15px 0 0;
}
.eidtInfo .form-group > input[type="text"] {
  height: 40px;
  -o-border-radius: 0px;
  border-radius: 0px;
  width: 50%;
  min-width: 180px;
}
.eidtInfo .form-group .btn-w {
  background-color: #30a1ec;
  color: #fff;
  width: 50%;
  min-width: 180px;
}
.eidtInfo .form-group .btn-w:hover {
  background-color: #1283ce;
}
/*新增角色*/
.addRole .role-put > label {
  font-size: 13px;
  color: #666666;
  font-weight: 100;
  margin-right: 20px;
  width: 8%;
  min-width: 55px;
}
.addRole .role-put > .small-input {
  height: 28px;
  width: 20%;
  min-width: 180px;
}
.addRole .role-put > .big-input {
  height: 28px;
  width: 80%;
  min-width: 300px;
}
.addRole .power .pow-tle {
  color: #000;
}
.addRole .power .find-tle {
  margin-left: 35px;
}
.addRole .power > label {
  font-size: 13px;
  color: #666666;
  font-weight: 100;
  margin-right: 20px;
}
.addRole .power > label input {
  vertical-align: text-top;
  margin: 6px 5px 0 0;
  float: left;
}
