body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:1158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u599 {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:1158px;
}
#u600 {
  position:absolute;
  left:2px;
  top:571px;
  width:1326px;
  word-wrap:break-word;
}
#u601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:1158px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:1158px;
}
#u602 {
  position:absolute;
  left:2px;
  top:571px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:50px;
}
#u604 {
  position:absolute;
  left:2px;
  top:17px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:left;
}
#u605 {
  position:absolute;
  left:58px;
  top:11px;
  width:181px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:left;
}
#u606 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u607 {
  position:absolute;
  left:1303px;
  top:24px;
  width:7px;
  height:4px;
}
#u608 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u609 {
  position:absolute;
  left:1277px;
  top:18px;
  width:16px;
  height:16px;
}
#u610 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u611 {
  position:absolute;
  left:18px;
  top:8px;
  width:30px;
  height:31px;
}
#u612 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:2px;
}
#u613 {
  position:absolute;
  left:250px;
  top:91px;
  width:976px;
  height:1px;
}
#u614 {
  position:absolute;
  left:2px;
  top:-8px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009900;
  text-align:left;
}
#u615 {
  position:absolute;
  left:250px;
  top:60px;
  width:65px;
  height:21px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009900;
  text-align:left;
}
#u616 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  position:absolute;
  left:0px;
  top:123px;
  width:230px;
  height:40px;
}
#u618 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  position:absolute;
  left:0px;
  top:321px;
  width:230px;
  height:40px;
}
#u620 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E6E6E;
  text-align:left;
}
#u621 {
  position:absolute;
  left:47px;
  top:332px;
  width:53px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E6E6E;
  text-align:left;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  position:absolute;
  left:0px;
  top:399px;
  width:230px;
  height:40px;
}
#u624 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E6E6E;
  text-align:left;
}
#u625 {
  position:absolute;
  left:47px;
  top:409px;
  width:53px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E6E6E;
  text-align:left;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E6E6E;
  text-align:left;
}
#u627 {
  position:absolute;
  left:47px;
  top:369px;
  width:53px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E6E6E;
  text-align:left;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u629 {
  position:absolute;
  left:18px;
  top:336px;
  width:17px;
  height:16px;
}
#u630 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u631 {
  position:absolute;
  left:18px;
  top:372px;
  width:17px;
  height:17px;
}
#u632 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u633 {
  position:absolute;
  left:18px;
  top:411px;
  width:17px;
  height:16px;
}
#u634 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  position:absolute;
  left:0px;
  top:123px;
  width:230px;
  height:40px;
}
#u636 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009900;
  text-align:left;
}
#u637 {
  position:absolute;
  left:47px;
  top:133px;
  width:53px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009900;
  text-align:left;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u639 {
  position:absolute;
  left:18px;
  top:136px;
  width:17px;
  height:15px;
}
#u640 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  position:absolute;
  left:0px;
  top:84px;
  width:230px;
  height:40px;
}
#u642 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u643 {
  position:absolute;
  left:47px;
  top:293px;
  width:53px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u645 {
  position:absolute;
  left:20px;
  top:296px;
  width:17px;
  height:13px;
}
#u646 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:121px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  position:absolute;
  left:0px;
  top:162px;
  width:230px;
  height:121px;
}
#u648 {
  position:absolute;
  left:2px;
  top:52px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u649 {
  position:absolute;
  left:54px;
  top:215px;
  width:53px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:2px;
}
#u651 {
  position:absolute;
  left:46px;
  top:203px;
  width:183px;
  height:1px;
}
#u652 {
  position:absolute;
  left:2px;
  top:-8px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u653 {
  position:absolute;
  left:54px;
  top:253px;
  width:53px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009900;
  text-align:left;
}
#u655 {
  position:absolute;
  left:57px;
  top:174px;
  width:53px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#009900;
  text-align:left;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:2px;
}
#u657 {
  position:absolute;
  left:46px;
  top:242px;
  width:183px;
  height:1px;
}
#u658 {
  position:absolute;
  left:2px;
  top:-8px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u659 {
  position:absolute;
  left:272px;
  top:127px;
  width:15px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u661 {
  position:absolute;
  left:349px;
  top:123px;
  width:200px;
  height:28px;
}
#u662 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u663 {
  position:absolute;
  left:608px;
  top:127px;
  width:27px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  position:absolute;
  left:683px;
  top:123px;
  width:200px;
  height:28px;
}
#u666 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u667 {
  position:absolute;
  left:274px;
  top:181px;
  width:27px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  position:absolute;
  left:349px;
  top:177px;
  width:200px;
  height:28px;
}
#u670 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u671 {
  position:absolute;
  left:608px;
  top:181px;
  width:40px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:683px;
  top:177px;
  width:200px;
  height:28px;
}
#u674 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u675 {
  position:absolute;
  left:608px;
  top:234px;
  width:27px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u677 {
  position:absolute;
  left:274px;
  top:233px;
  width:53px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u679 {
  position:absolute;
  left:274px;
  top:293px;
  width:40px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:757px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#009900;
  text-align:left;
}
#u681 {
  position:absolute;
  left:349px;
  top:293px;
  width:853px;
  height:757px;
  font-size:12px;
  color:#009900;
  text-align:left;
}
#u682 {
  position:absolute;
  left:2px;
  top:370px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u683 {
  position:absolute;
  left:510px;
  top:1099px;
  width:120px;
  height:35px;
  color:#009900;
}
#u684 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u685 {
  position:absolute;
  left:360px;
  top:1099px;
  width:120px;
  height:35px;
  color:#FFFFFF;
}
#u686 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:720px;
}
#u687 {
  position:absolute;
  left:360px;
  top:304px;
  width:831px;
  height:720px;
  font-size:12px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:349px;
  top:229px;
  width:200px;
  height:28px;
}
#u689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u689_input:disabled {
  color:grayText;
}
#u690 {
  position:absolute;
  left:683px;
  top:229px;
  width:200px;
  height:28px;
}
#u690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u690_input:disabled {
  color:grayText;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u691 {
  position:absolute;
  left:958px;
  top:123px;
  width:244px;
  height:134px;
}
#u692 {
  position:absolute;
  left:2px;
  top:59px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u693 {
  position:absolute;
  left:1028px;
  top:177px;
  width:105px;
  height:19px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u695 {
  position:absolute;
  left:46px;
  top:94px;
  width:27px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u697 {
  position:absolute;
  left:18px;
  top:96px;
  width:19px;
  height:16px;
}
#u698 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
