.toregulate{
    position: absolute;
    font-size: 1.4rem;
    width:6rem;
    height:4.5rem;
    line-height: 4.5rem;
    color: #E9631A;
    right:0rem;
}

.circliful {
    position: relative; 
    margin:auto;
    overflow: hidden;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -1rem .3rem 0 .3rem;
	position: relative;
	bottom: .4rem;
}


.talscoretext{
    line-height: normal;
    margin-top:3rem;
}
talscoretext1{
   line-height: normal;
    margin-top:3.5rem; 
}

.talscoretext h2{
font-size: 1.6rem;
}
.talscoretext font{
 font-size: 4rem;   
color:#E9631A

}

.talscoretext em{
 font-size: 1.2rem;   
color:#23B84C;

}


.talscorelegend{
    padding:.4rem .6rem 1rem .6rem;
    color: #D1D1D1;
    font-size: 1.3rem;
}


#totalscoreList{
height:auto;
min-height: 25rem;
margin-bottom: 1rem;
}

.totalscoreCont{
    margin:1rem .1rem 0rem .6rem;

}

.customer_title {
    font-size: 1.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    background-color: #EEEEEE;
    color: #E86419;
    padding-left: 1.5rem;
}

.totalscoreR font{
 color: #E86419;   
 font-size: 1.6rem;
}
.totalscoreR em{
   font-size: 1.1rem;
   color:#23B84C;
}


.totalscoreL{
    width:80%;
    float: left;
}
.totalscoreR{
    width:20%;
    float: left;
    overflow: hidden;
    padding-top: 6rem;
}

.totalscoreL p span {
    display: inline-block;
    width:33.3%;
    height:3.6rem;
    line-height:3.6rem; 
}
.talsname{
    font-size: 1.3rem;
    color:#6E6E6E;
}

.talsaims{
  font-size: 1.3rem;
    color:#C3C6C9;  
}

.talsaims font{
 color:#6E6E6E;
}

.talsreal{
font-size: 1.3rem;
color:#C3C6C9;  
}

.talsreal font{
 color:#6E6E6E;
}


#kpimain dt img {
    width: 1.8rem;
    display: block;
    float: left;
    margin: .2rem .2rem 0 1.5rem;
}