
.ui-adduser-main{

max-width:640px;
min-width:300px;
margin: 1rem auto 0px auto;	
height:auto;
	}
	
	
.ui-adduser-main li{
	height:6rem;
	line-height:6rem;
	border-bottom:1px solid #E4E4E4;
	padding:0rem .3rem;
}
.ui-adduser-main li::before{
	content:"";
	clear:both;
}
.fn-save{
	display:block;
	width:90%;
	background-color:#9EBDFA;
	height:5rem;
	margin:1.6rem auto;
	-moz-border-radius: 10px 10px;      /* Gecko browsers */
	-webkit-border-radius: 10px;   /* Webkit browsers */
	border-radius: 10px;
	border: none;
	font-size:2rem;
	color:#FFF;
	cursor:pointer;
}

#wx_name{
	background:url("../../images/mobile/34.png") no-repeat scroll .8rem center;
	background-size:1.6rem;
    padding-left:4rem;	
}

#OTC_name{
	background:url("../../images/mobile/35.png") no-repeat scroll .8rem center;
	background-size:1.6rem;
    padding-left:3rem;	
}

#username{
	background:url("../../images/mobile/35.png") no-repeat scroll .8rem center;
	background-size:1.6rem;
    padding-left:3rem;		
}
#wx_password{
    background:url("../../images/mobile/36.png") no-repeat scroll .8rem center;
	background-size:1.6rem;
    padding-left:3rem;	
}
#user_password{
	background:url("../../images/mobile/36.png") no-repeat scroll .8rem center;
	background-size:1.6rem;
    padding-left:3rem;	
}
#OTC_password{
	background:url("../../images/mobile/36.png") no-repeat scroll .8rem center;
	background-size:1.6rem;
    padding-left:3rem;	
}
#realName{
background:url("../../images/mobile/36.png") no-repeat scroll .8rem center;
	background-size:1.6rem;
    padding-left:3rem;		
}
.getPIN{
	margin-top:1rem;
	float:left;
	font-size:1rem;
	color:#FFF;
	overflow:hidden;
	width:6.6rem;
	height:3.6rem;
    -moz-border-radius: 10px 10px;      /* Gecko browsers */
	-webkit-border-radius: 10px;   /* Webkit browsers */
	border-radius: 10px;
	border: none;
	background:#E4E4E4;	
}
.msg{
background-color:#333; width:60%; height:4rem; top:2rem; line-heigh:4rem;mrgin:0;padding:0
}

#adduserBtn{
	 -moz-border-radius: 50px;      /* Gecko browsers */
	-webkit-border-radius: 50px;   /* Webkit browsers */
	border-radius: 50px;
}
.isbland{
width:75%;
margin:.6rem auto;
text-align: right;
font-size: 1.2rem;
color: #999;
}
.isbland a{
color:#00B134;
}