
.ui-adduser-main{

max-width:640px;
min-width:300px;
margin: 1rem auto 0px auto;	
height:auto;
	}
	
	
.ui-adduser-main li{
	height:6rem;
	line-height:6rem;
	border-bottom:1px solid #E4E4E4;
	padding:0rem .3rem;
}
.ui-adduser-main li::before{
	content:"";
	clear:both;
}
.fn-save{
	display:block;
	width:90%;
	background-color:#9EBDFA;
	height:5rem;
	margin:1.6rem auto;
	-moz-border-radius: 10px 10px;      /* Gecko browsers */
	-webkit-border-radius: 10px;   /* Webkit browsers */
	border-radius: 10px;
	border: none;
	font-size:2rem;
	color:#FFF;
	cursor:pointer;
}
.input{
width:24rem;

}

.msg{
background-color:#333; width:60%; height:4rem; top:2rem; line-heigh:4rem;mrgin:0;padding:0
}

.pwdlab{
  
}	
